body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Player section */
.Player-of-the-year{
    max-width: 1100px ;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin:0 auto ;
    margin-top: 2rem;
    margin-bottom: 4rem;
    border-radius: .5rem;
    color: white;
}
.player-details{
    padding: 2rem 6rem;
}
.player-details h1{
    font-size: 3rem;
    line-height: 3rem;
}
.player-details p{
    font-size: 1rem;
    font-weight: .5rem;
    margin: 2.5rem 0;
}
.player-image img{
    width: 80%;
}
.player-details a{
    text-decoration: none;
    padding: .6rem 2rem;
    border-radius: .3rem;
    background-color: red;
    color: white;
}

/* Blogs and side-menu section */

.Sidemenu-and-blogs{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
}
.sidemenu , .blogs{
    width: 220px;
}
.sidemenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 16rem;
    margin: 0 1rem;
    padding: 0 1rem;
    background-color: black;
    border-radius: .5rem;
}
.sidemenu a{
    font-weight: 20rem;
    text-decoration: none;
    color: black;
    background-color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 12rem ;
    margin: .6rem;
    padding: .8rem 0rem;
    border-radius: .4rem;
}
.sidemenu #red-button{
    background-color: red;
    color: white;
} 
.blogs{
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

}
.blog{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 1rem;
    line-height: 2rem;
}
.blog img{
    width: 100%;
}
.blog-details{
    padding: 0rem .8rem;
    line-height: 1.5rem;
    font-size: .9rem;
    margin-top: 1rem;
}
.blog-details a{
    text-decoration: none;
    color: black;
    padding: .2rem 1rem;
    border: 1px solid black;
    border-radius: .2rem;
}
.blog-info{
    width: 8rem;
    display: flex;
    justify-content: space-between;
    padding: 0 0 .8rem .8rem;
    font-size: .9rem;
    color: gray;
}
.blog-info span{
    margin-left: .4rem;
}

/* footer section */
footer{
    margin: 8rem 0 0 0;
    padding-top: 6rem;
    width: 100%;
    height: 300px;
    background-color: black;
}
.footer-section{
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin:0 auto;
    height: 200px;
    align-items: center;
    color: white;
}
.footer-section h1{
    font-size: 2rem;
}
.footer-section hr{
    width: 1200px;
    color: gray;
    height: 0;
    border: .8px solid rgba(255, 255, 255, 0.199);
}
.About-us-section ul{
    display: flex;
    flex-direction: row;
}
.About-us-section li{
    list-style: none;
    margin: 1rem;
    font-size: .9rem;
    color: rgb(211, 211, 211);
}
/* media query for mobile version */
@media screen and (max-width: 688px){
    .Player-of-the-year{
    grid-template-columns: repeat(1, 1fr);
    width: 90%;
    margin: 1rem auto;
    padding: 0;
    border-radius: .8rem;
    }
   .player-details{
    margin-top: 2rem;
    padding: 1rem 6rem;
    text-align: center;
   }
   .player-image{
    margin-top: 1rem;
    margin-left: 2rem;
    text-align: center;
   }
   .player-details h1{
    font-size: 1.6rem ;
    margin: 1rem;
   }
   .player-details p{
    height: 3rem;
    overflow: hidden;
    text-overflow: ellipsis; 
    opacity: .7;
    margin: 0;
    margin-bottom: 3rem;
    font-size: 1rem;
   }
   .player-details a{
    font-size: 1rem;
    padding: 1rem 2rem;
    }
   .player-image img{
    width: 80%;
   }
   
    .Sidemenu-and-blogs{
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0 auto;
    }
    .sidemenu{
        background-color: white ;
        margin: 1rem;
    }
    .sidemenu a{
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    }
    .blogs{
        grid-template-columns: repeat(1,1fr);
        gap: 1rem;
        width: 80%;
        margin: 0 2rem;   
    }
    .blog-details{
        font-size: 1.1rem;
    }
    .blog-info{
        font-size: 1rem;
    }
    footer{
        margin: 0;
        margin-top: 2rem;
        padding: 0;
        height: 30rem;
    }

    .About-us-section ul{
        flex-direction: column;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .About-us-section li{
        margin: 1rem auto ;
        font-size: 1rem;
        opacity: .8;
    }
    .footer-section h1{
        font-size: 1.5rem;
    }
    .footer-section{
        width: 100%;
    }
    .footer-section hr{
        width: 90%;
    }
}
/* media query for tablet version */
@media screen and (min-width: 689px) and (max-width: 992px) {
    .Player-of-the-year{
        width: 90%;
        margin: 2rem auto;
        border-radius: 1rem;  
    }
    .player-details{
        padding: 4rem;
    }
    .player-details h1{
        font-size: 2rem;
    }
    .player-details p{
        height: 3rem; 
        overflow: hidden;
        text-overflow: ellipsis; 
        font-size: 1rem;
        font-weight: .02rem;
        line-height: 1.5rem;
    }
    .player-image img{
        width: 100%;
    }
    .Sidemenu-and-blogs{
        width: 90%;
        flex-direction: column;
        margin: 1rem auto;
    }
    .sidemenu{
        width: 100%;
        height: 6rem;
        flex-direction: row;
        margin: 1rem auto;
        padding: 0;
        border-radius: 0 ;
        background-color: white;   
    }
    .sidemenu a{
        width: 100% ;
        font-size: 1rem;
        margin: 1rem;
        padding: 1rem;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        border-radius: .4rem;
    }
    .blogs{
        width: 100%;
        grid-template-columns: repeat(2,1fr);  
    }
    .no-show{
        display: none;
    }
    .footer-section{
        width: 100%;
    }
    .footer-section hr{
        width: 80%;
    }
    .footer-section ul{
        width: 80%;
        margin: 0 auto;
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer-section li{
        margin: 1rem 2rem;
        font-size: 1rem;
    }
}
